.map {
    position: relative;
    .address {
        position: absolute;
        top: 0;
        z-index: 50;
        background: rgb(229, 229, 236);
        padding: 4;
        text-align: center;
        width: 250px;
        // right: 80px;
        border-bottom-right-radius: 15px;
    }
}