.detail-specialty-container{
    width: 100%;
    .render-data{
        width: 70%;
        margin: 0 auto;
    }
    .news-per-page {
        width: 60%;
        margin: 0 auto;
    }
    .pagination-custom{
        width: 100%;
        height: 5%;
        position: absolute;
        bottom: 0;
        #page-numbers {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            li {
                color: rgb(62, 140, 204);
                user-select: none;
                cursor: pointer;
                margin: 0 3px;
                padding: 0 5px;
                border: 1px solid rgb(62, 140, 204);
                text-align: center;
                border-radius: 2px;
            }
            li:not(.active):hover {
                background: rgb(62, 140, 204);
                color: white;
            }
            li.active {
            border-color: grey;
            color: white;
            background: grey;
            cursor: default;
            }
        }
    }

}
.detail-specialty-all{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 106px;
    .detail-specialty-all-container{
        display: inline-flex;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .img-container{
           width: 20%;
           height: 100%;
            .images{
                height: 90%;
                width: 90%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .contents{
            margin-left: 31px;
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            span{
                line-height: 1.5em;
                font-size: 17px;
                color: #333;
            }
        }
    
    }
}