.navbar{
  background-color: rgba(237,255,250,1.00);
  padding: 0;
  .container-fluid{

    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: end;
      font-weight: 700;
      font-size: 27px;
      color: #ffc10e;
      text-decoration: none;
      padding-left: 4%;
    }
    .navbar-collapse{
      .navbar-nav{
        width: 100%;
        justify-content: space-evenly;
        .nav-link{
          .child-content{
            padding: 1px 10px;
            overflow: hidden;
            color: rgb(69, 195, 210);;
            .subs-title {
              font-size: 13px;
              color: black !important ;
            }
            .search {
              background-color: rgb(237, 255, 250);
              padding: 8px;
              border-radius: 25px;
              border: 1px solid;
              display: flex;
              align-items: center;
              i {
                margin: 0 5px;
              }
              input {
                background: transparent;
                border: none;
                outline: none;
              }
            }
            .login{
              padding-top: 10px;
              color: black;
            }

          }
          
        } 
        .register{
          padding-top: 15px;
          .btn:focus{
            box-shadow: none;
          }
          .avatar{
            width: 40px;
            height: 40px;
            margin-right: 8px;
            border: 1px solid;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
          }
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
      
    }

  }
}