.verify-email-container{
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);    height: 150vh;

    .infor-booking{
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        padding-top: 50px;
        text-transform: uppercase;
        color: red;
    }
}